.bg {
  background: var(--chevron) no-repeat;
  height: 1rem;
  width: 1rem;
}
/* Popover */
.popover-wrapper {
  --max-height: 20rem;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  /* height: var(--ctrl-height); */
}
.popover-wrapper.blend {
  flex: 0 0 auto;
  align-items: stretch;
}
.popover-wrapper.count {
  width: 4rem;
}
.popover-wrapper > label {
  display: inline-flex;
  cursor: pointer;
  width: 100%;
}
.form-control > .popover-wrapper .adorn {
  border-radius: 0px var(--border-r) var(--border-r) 0px;
  box-shadow: -1px 0 0 0 var(--disabled);
}
.form-control > .popover-wrapper > label {
  height: calc(100% - 2px);
  margin-right: 1px;
}
.popover-wrapper.blend > label {
  height: 100%;
}
.adorn.blend {
  box-shadow: -1px 0 0 0 var(--brd-color);
}
.adorn.blend > .dropdown-text {
  height: 100%;
  background-color: var(--g-10);
}
.popover-wrapper:focus-within > label {
  outline: none;
}
.popover-wrapper.minimal > label {
  border: none;
}
.popover-wrapper.disabled > label {
  opacity: 0.9;
}
.popover-wrapper.disabled > label span.select-title {
  background-color: var(--disabledText);
}
.popover-options {
  --color: var(--secondary);
  position: absolute;
  z-index: 22;
  top: 110%;
  width: fit-content;
  min-width: 100%;
  max-height: 0;
  overflow: hidden;
  box-shadow: none;
  background-color: var(--white);
  transition: max-height 0.3s ease;
}
.popover-options > .adorn {
  box-shadow: 0 0 0 1px var(--brd-color);
  margin: 1px;
}
.popover-wrapper.right > .popover-options {
  left: calc(100% + 1px);
  top: 30%;
}
.place-top {
  top: -100%;
  left: 0;
}
.popover-wrapper > input[type='checkbox']:checked + .popover-options {
  /* .popover-wrapper.hover:hover > .popover-options  */
  max-height: var(--max-height);
  box-shadow: 1px 1px 1px 1px var(--g-10),
    -1px -1px 1px 0px var(--g-10);
}

.dropdown-text {
  display: inline-block;
  height: fit-content;
  padding: 0.25rem 0.25rem;
}
.dropdown-text > * {
  min-width: 0.25rem;
  flex: 1 1 0.25rem;
}
.select-title {
  background-color: var(--white);
  line-height: 1.5;
  text-align: left;
}
.minimal > .select-title {
  text-align: end;
}
.select-title.placeholder {
  color: var(--muted);
}
label.disabled .select-title {
  background-color: unset;
}

.popover-wrapper[data-before] + .lbl-transient {
  transform: translate(2.5rem, 1.75rem);
}
.button-options {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  max-height: var(--max-height);
  overflow-y: auto;
  /* align-items: stretch; */
  width: 100%;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}
.button-options:focus-within {
  outline: none;
}
.button-options.minimal {
  background-color: transparent;
}
.button-options.row {
  flex-flow: row nowrap;
  padding: 0 0.5rem;
}
.button-options.row > span,
.button-options span {
  padding: 1px 0.25rem;
  white-space: nowrap;
}
.button-options > span i {
  padding: 0;
  margin: 0.25rem 0 0 0;
}
.button-options > span {
  width: 100%;
  text-align: right;
  pointer-events: auto;
  flex: 1 1 auto;
  padding: 0.375rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.multi .button-options > span {
  text-align: left;
}
.button-options > .disabled {
  cursor: auto;
}
.button-options i + span {
  padding: 0.25rem 0.25rem 0 0;
}
.button-options span.optionCheckbox {
  padding: 0.1rem 1rem;
}
.button-options > span:hover {
  color: var(--white);
  background-color: var(--g-8);
}
.button-options > span:hover span {
  color: var(--white);
}
.button-options > span:hover {
  box-shadow: -3px 0 0 0 var(--g-7);
}
.button-options > span:hover > .checkbox-wrapper > span,
.button-options > span:hover > .checkbox-wrapper > span:after {
  border-color: var(--white);
}
.button-options > span.disabled {
  color: var(--g-7);
}
.button-options > span.disabled:hover,
.button-options span.disabled:hover > span {
  background-color: var(--g-10);
  color: var(--g--7);
}
.button-options span > label {
  margin: 0;
  width: 100%;
}

.cascade {
  width: 100%;
  align-items: stretch;
}
.cascade.flex-column > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0.25rem;
}
.cascade.flex-column > span > label.lbl {
  flex: 0 0 30%;
}
.cascade.flex-column > span > .popover-wrapper {
  flex: 1 1 auto;
}
.cascade.flex-row {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.cascade.flex-row > div {
  flex: 1 1 auto;
  align-items: stretch;
  /* padding-top: 0; */
  /* margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap)); */
}

/* DatePicker */
.calendar-panel {
  --name: calendar-panel;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid var(---brd-color);
  background: var(--bg-color);
  transition: opacity 0.5s;
  z-index: 12;
  cursor: default;
}
.days {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.days:focus {
  border: none;
  outline: none;
}
.days .week,
.week-names,
.month {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
.month > button {
  padding: 0;
}
.week {
  cursor: default;
}
.week > .day,
.week-names > .day {
  flex: 0 0 1.5rem;
  text-align: center;
  transition: background-color 0.2s linear;
}
.week > .day:hover,
.selected-day {
  background-color: var(--bg-color-d);
  color: var(--white);
  border-radius: var(--border-r);
  box-shadow: 0 0 1px 1px var(--bg-color-d);
  cursor: pointer;
}
.selected-day {
  box-shadow: 0 0 2px 2px var(--bg-color-d);
}
.out-day {
  color: var(--muted);
}
.week > .out-day:hover {
  background-color: transparent;
  color: var(--muted);
  box-shadow: none;
  cursor: default;
}
.week-names {
  border-bottom: 1px solid var(--g-7);
}
.week-names > .day,
.month > span {
  text-transform: uppercase;
  font-weight: 600;
}

.month > span {
  padding-top: 0.25rem;
}
.month h4 {
  padding-top: 0.4rem;
}
