/* Popover */
.popover-wrapper {
  --max-height: 20rem;
  display: inline-block;
  position: relative;
}
.popover-wrapper > label {
  display: inline-flex;
  cursor: pointer;
  width: 100%;
}
.popover-wrapper:focus-within > label {
  outline: none;
}
.popover-wrapper.minimal > label {
  border: none;
}

.popover-options {
  position: absolute;
  z-index: 22;
  top: 105%;
  width: fit-content;
  min-width: 100%;
  max-height: 0;
  overflow: hidden;
  box-shadow: none;
  background-color: var(--g-14);
  transition: max-height 0.3s ease;
}
.popover-options > .adorn {
  box-shadow: 0 0 0 1px var(--brd-color);
  margin: 1px;
}
.popover-wrapper.right > .popover-options {
  left: calc(100% + 1px);
  top: 30%;
}
.place-top {
  top: -100%;
  left: 0;
}
.popover-wrapper > input[type='checkbox']:checked + .popover-options {
  max-height: var(--max-height);
  box-shadow: 1px 1px 1px 1px var(--g-11),
    -1px -1px 1px 0px var(--g-11);
}

.dropdown-text {
  /*  display: inline-flex;
  align-items: center;*/
  display: inline-block;
  height: fit-content;
  background-color: var(--g-12);
  padding: 0.5rem;
}
.dropdown-text > * {
  min-width: 0.25rem;
  flex: 1 1 0.25rem;
}
.select-title {
  background-color: var(--white);
}
.popover-wrapper[data-before] + .lbl-transient {
  transform: translate(2.5rem, 1.75rem);
}
.button-options {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  max-height: var(--max-height);
  overflow-y: scroll;
  /* align-items: stretch; */
  width: 100%;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}
.button-options:focus-within {
  outline: none;
}
.button-options.minimal {
  background-color: transparent;
}
.button-options.row {
  flex-flow: row nowrap;
  padding: 0 0.5rem;
}
.button-options.row > span,
.button-options span {
  padding: 1px 0.25rem;
  white-space: nowrap;
}
.button-options > span i {
  padding: 0;
  margin: 0.25rem 0 0 0;
}
.button-options > span {
  width: 100%;
  text-align: left;
  pointer-events: auto;
  flex: 1 1 auto;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-options i + span {
  padding: 0.25rem 0.25rem 0 0;
}
.button-options span.optionCheckbox {
  padding: 0.1rem 1rem;
}
.button-options span:hover {
  background-color: var(--g-8);
  color: var(--white);
}
.button-options span > label {
  margin: 0;
  width: 100%;
}

.cascade {
  width: 100%;
  align-items: stretch;
}
.cascade.flex-column > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0.25rem;
}
.cascade.flex-column > span > label.form-label {
  flex: 0 0 30%;
}
.cascade.flex-column > span > .popover-wrapper {
  flex: 1 1 auto;
}
.cascade.flex-row {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.cascade.flex-row > div {
  flex: 1 1 auto;
  align-items: stretch;
  /* padding-top: 0; */
  /* margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap)); */
}

/* DatePicker */
.calendar-panel {
  --name: calendar-panel;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid var(---brd-color);
  background: var(--bg-color);
  transition: opacity 0.5s;
  z-index: 12;
  cursor: default;
}
.days {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.days:focus {
  border: none;
  outline: none;
}
.days .week,
.week-names,
.month {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
.month > button {
  padding: 0;
}
.days .week .day,
.week-names .day {
  flex: 0 0 1.5rem;
  text-align: center;
}
.week-names {
  border-bottom: 1px solid var(--g-7);
}
.week-names .day,
.month > span {
  text-transform: uppercase;
  font-weight: 600;
}
.month > span {
  padding-top: 0.25rem;
}
.month h4 {
  padding-top: 0.4rem;
}
.selected-day {
  background: var(--bg-color-d);
  color: var(--white);
  border-radius: var(--border-r);
  box-shadow: 0 0 2px 2px var(--bg-color-d);
}
.day:hover {
  background: var(--bg-color-d);
  color: var(--white);
  border-radius: var(--border-r);
}
