/* Table */
.table {
  color: inherit;
  width: 100%;
  position: relative;
}
.t_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_title > span:first-child {
  display: inline-flex;
  align-items: center;
}
.t_body {
  position: relative;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  /* grid-auto-rows: max-content;
 overflow-y: scroll;
   gap: 1px 0; */
  justify-items: start; /*stretch */
  align-items: center;
  cursor: default;
  border-top: 1px solid var(--g-10);
  margin-top: 0.5rem;
}
.t_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 22;
}
.t_body::-webkit-scrollbar {
  width: 6px;
}
.t_body::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 1px;
}
.t_body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
}
.t_body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.t_header,
.t-content {
  display: contents;
}
span.t_cell {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  width: calc(100%);
  height: 100%;
  min-height: 2rem;
  min-width: 0;
  border-bottom: 1px solid var(--g-10);
}
.t_header > span.t_cell {
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  display: inline-flex;
  position: sticky; /* relative ; */
  top: 0;
  background: var(--g-9);
  box-shadow: 0px 1px 01px 1px var(--g-11);
}
.t_row > span.t_cell:first-child {
  justify-content: center;
  z-index: 1;
}
.t_header > span.t_cell:first-child {
  justify-content: center;
  z-index: 5;
}
/* .t_row.row-edit > span.t_cell {
  z-index: 4;
}
.t_row-details.row-edit > span.t_cell {
  z-index: 3;
} */
/* .t_header > span.t_cell > .popover-wrapper {
  z-index: 22;
} */
.t_header span.t_cell > button {
  margin-left: 0.25rem;
}
.t_header span.t_cell .input-wrapper {
  min-height: 0;
}
.table-content {
  display: contents;
}

.t_row {
  display: contents;
}
.t_row-details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-left: 2px solid var(--g-6);
  animation: slidein 0.5s ease;
}
.t_row-details.t_single {
  border-left: none;
}
.t_row-details.collapsing {
  animation: slidout 0.5s ease;
}
.t_row.expanding > .t_cell:first-child,
.t_row.expanded > .t_cell:first-child {
  border-left: 2px solid var(--g-6);
}
.t_row:hover > .t_cell {
  background-color: var(--g-11);
  box-shadow: 0 1px 1px 0 var(--g-9);
}
.t_row:hover > :last-child {
  position: relative;
  color: transparent;
}
.edit .t_row:hover > :last-child {
  color: unset;
}
.t_row:hover > .t_cell:last-child > .t_toolbar {
  display: inline-flex;
}
.t_toolbar {
  display: none;
  position: absolute;
  top: 5%;
  bottom: 0%;
  left: 0%;
  /* right: 30%; */
  padding: 0 0.25rem;
  border: 0.1px solid var(--g-9);
  border-radius: var(--border-r);
  background-color: var(--white);
}
.t_toolbar > button {
  min-height: 1rem;
  min-width: 0;
  padding: 0.25rem;
}

.t_row.row-select > .t_cell {
  background-color: var(--g-10);
}
.t_row.row-edit > .t_cell {
  padding: 0.25rem;
}
.t_cell.row-open {
  border-left: 2px solid var(--g-6);
}
.t_cell .adorn {
  min-height: 2rem;
}
.t_cell > .adorn,
.t_cell .popover-wrapper {
  width: 95%;
}
.t_header > .t_cell > .popover-wrapper {
  width: unset;
}
.t_cell > .adorn > input,
.t_cell .adorn-right {
  padding: 0.5rem 0.25rem;
}
.t_cell > .adorn > input[type='number'] {
  width: 5rem;
}
.t_cell > .checkbox-wrapper {
  margin: 0.5rem;
}
.t_cell .mask-wrapper > .input {
  padding: 0.125rem;
}

.t_cell > .btn.minimal {
  min-width: unset;
}
.t_cell .with-icons[data-before]::before {
  padding: 0 0;
}
.t_header > .t_cell > .with-icons[data-before]::before {
  padding: 0 0.5rem;
}
.t_header > .t_cell .adorn {
  min-height: unset;
}
.t_header > .t_cell .prepend {
  padding: 0;
}
.t_header > .t_cell > .popover-wrapper {
  height: unset;
}
.t_row-details > .t_cell {
  padding: 0.5rem 1rem;
}
.t_row-details > .t_cell.collapsing {
  animation: slideout 0.4s linear;
}
.t_row-details.t_single > .t_cell {
  justify-content: center;
  border-left: none;
}
.t_row-details.t_single > .t_cell > button.btn {
  width: 100%;
  justify-content: center;
}
.t_item {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 1rem;
  min-width: 10rem;
}
.t_item > .popover-wrapper {
  width: unset;
}
.t_item > label {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
