/* Table */
.table {
  color: inherit;
  width: 100%;
}
.t_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_title > span:first-child {
  display: inline-flex;
  align-items: center;
}
.t_body {
  position: relative;
  display: grid;
  grid-auto-rows: max-content;
  overflow-y: auto;
  /* gap: 1px 0; */
  justify-items: start; /*stretch */
  align-items: center;
  cursor: default;
  border-top: 1px solid var(--g-11);
  border-bottom: 3px solid var(--g-11);
}
.t_body::-webkit-scrollbar {
  width: 6px;
}
.t_body::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 1px;
}
.t_body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
}
.t_body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.t_header,
.t-content {
  display: contents;
}
.t_header span.t_cell {
  font-weight: 400;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  display: inline-flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background: var(--g-12);
  box-shadow: 0px 1px 01px 1px var(--g-11);
}
.t_header span.t_cell > button {
  margin-left: 0.25rem;
}
/* .t_header span.t_cell:last-child {
  box-shadow: 16px 0 0 0 red;
} */
.t_header span.t_cell .input-wrapper {
  min-height: 0;
}
.table-content {
  display: contents;
}

.t_row {
  display: contents;
}
.t_row-details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-left: 2px solid var(--g-6);
  animation: reveal 0.5s ease;
}
.t_row.expand > .t_cell:first-child {
  border-left: 2px solid var(--g-6);
}
.t_cell {
  border-bottom: 1px solid var(--g-11);
}
.row-select > :first-child {
  position: relative;
}
.t_toolbar {
  position: absolute;
  /* top: 0; */
  bottom: 105%;
  left: 1px;
  display: inline-flex;
  padding-right: 0.25rem;
  background-color: var(--white);
}
.t_toolbar > button {
  min-height: 0;
  min-width: 0;
  padding: 0.25rem;
}

.t_row.row-select > .t_cell {
  background-color: var(--g-12);
}
.t_row.row-edit > .t_cell {
  padding: 0 0.125rem;
}
.t_cell > .adorn,
.t_cell .popover-wrapper {
  width: 90%;
}
.t_cell > .adorn > input,
.t_cell .adorn-right {
  padding: 0.25rem;
}
.t_cell > .adorn > input[type='number'] {
  width: 5rem;
}
.t_cell > .checkbox-wrapper {
  margin: 0.5rem;
}
.t_cell .mask-wrapper > .input {
  padding: 0.125rem;
}
span.t_cell {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  width: calc(100%);
  height: 100%;
  min-height: 2rem;
  min-width: 0;
}
.t_cell .with-icons[data-before]::before {
  padding: 0 0;
}
.t_header > .t_cell > .with-icons[data-before]::before {
  padding: 0 0.5rem;
}
.t_row-details > .t_cell {
  padding: 0.5rem 1rem;
}
.t_item {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 1rem;
  min-width: 10rem;
}
.t_item > label {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
