.filter-text {
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-items: center;
  padding: 1px 0 0.5rem 0;
}
.filter-text > * {
  flex: 0 0 auto;
  margin: 0 0.125rem;
}

.filter-box {
  padding: 0;
  margin-top: 1rem;
}
.filter-box > .input-group {
  margin: 0;
}
.filter-box .adorn,
.filter-box .btn {
  box-shadow: 0 0 0 1.5px var(--g-9);
}
.filter-box .row-composite .adorn {
  box-shadow: 0 0 0 1.5px var(--g-9), 1px 0 0 1px var(--white);
}
.filter-box .row-composite .dropdown-text {
  background-color: var(--g-10);
}
.item-extend {
  font-size: 1rem;
}
.bordered {
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  border: 1px solid var(--border);
}

.acc-ul {
  padding-left: 0.6rem;
  transition: height 0.3s ease-out;
}

.acc-ul-show {
  visibility: visible;
  height: auto;
  overflow: hidden;
}

.acc-ul > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
  transition: all 0.4s;
}

.acc-ul .acc-node {
  text-align: left;
  width: 100%;
  /* color: var(--primaryText); */
  padding-left: 0.6rem;
}
.acc-ul button.acc-node,
.acc-ul a.acc-node {
  border: none;
  outline: none;
  min-height: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: inherit;
}
.acc-ul a.acc-node {
  text-decoration: none;
  cursor: pointer;
}
.acc-ul button.acc-node:hover,
.acc-ul a.acc-node:hover {
  background: #ccc;
  color: inherit;
}
.acc-ul a.acc-node.acc-active-link {
  color: var(--primary);
}
.acc-ul a.acc-node.acc-active-link {
  color: var(--primary);
}

.acc-link {
  /* padding: 1rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  float: left; */
  text-decoration: none;
  cursor: pointer;
}

.simple-select {
  padding: 0;
}

.editor-wrapper {
  width: 100%;
  overflow: auto;
  min-height: 20rem;
  /* max-height: 60rem; */
}

/* -- */
.browser-wrapper {
  width: 100%;
  height: 98%;
  display: grid;
  grid-template-columns: minmax(20rem, auto) 1fr;
  /* grid-template-rows: minmax(5.8rem, 7rem) minmax(auto, 1fr); */
}
.browser-days {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  padding: 0 0 1.6rem 0;
}
span.browser-day {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 0.5rem;
  border-bottom: 2px solid rgb(223, 223, 223);
  /* cursor: pointer; */
  font-size: 1.2rem;
}
span.day-0 {
  background-color: #ccc;
}
span.day-1 {
  background-color: darkblue;
}
span.day-2 {
  background-color: orange;
}
span.day-3 {
  background-color: tomato;
}
span.day-4 {
  background-color: darkgreen;
}
.browser-selected-day {
  background-color: #bbb;
  border-radius: 4px;
  color: #fff;
}
.browser-days-circle {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  background-color: #999;
  border: 2px solid #999;
  margin: 0 0 -0.6rem 40%;
}
.day-selected {
  background-color: #fff;
  border: none;
}
.day-vacant {
  background-color: #ccc;
  border: 1px solid #ccc;
}
.browser-context {
  grid-area: 1/2/2/3;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.8rem 1rem;
}
.browser-list {
  grid-area: 1/1/2/2;
  padding: 1rem 0.4rem;
  border: 1px solid #ccc;
}

.editor {
  --propWidth: 0;
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.edit-toolbar {
  flex: 0 0 14rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.edit-toolbar > * {
  margin-bottom: 0.5rem;
}

.edit-toolbar > .tags {
  margin-top: 0.25rem;
}
.edit-toolbar > .tags > span.tag {
  margin: 0.25rem 0.5rem 0.25rem 0;
  outline: none;
}
.edit-toolbar .adorn > span {
  padding: 0.3725rem;
}
.edit-toolbar .btn {
  margin-left: auto;
  float: right;
  min-height: 1.75rem;
}
.edit-preview {
  position: relative;
  flex: 1 1 auto;
  /* grid-area: 1 / 2 / 3 / 3; */
  padding: 0.5rem;
  border-left: 1px solid var(--g-9);
  border-right: 1px solid var(--g-9);
  /* margin-left: 0.25rem;
  margin-bottom: -0.5rem; */
}

.props-editor {
  flex: 0 0 var(--propWidth);
  margin-left: 0.25rem;
}
.props-editor > h6 {
  margin-bottom: 0.25rem;
}
.props-editor > i {
  font-weight: 600;
  font-size: 0.85em;
}
.props-editor > div {
  width: 14rem;
  overflow-x: hidden;
  transform-origin: left;
  transition: width 0.3s ease;
}
.props-editor.off > div {
  width: 0px;
}
.props-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.125rem 0.25rem;
  margin: 1rem 0;
}
.props-content > h6 {
  margin-bottom: 1rem;
}
.prop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.25rem;
}
.prop.vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.prop.vertical > label {
  flex: 0 0 auto;
}
.prop > label {
  flex: 1 1 5rem;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.5;
}
.prop-value > input {
  flex: 1 1 6rem;
  width: 100%;
}
/*.props-editor > span:nth-child(odd) {
  border-right: 1px solid var(--g-9);
} */

.svg-container {
  position: relative;
  min-width: 0;
  /* height: 100%; */
  overflow: auto;
  word-wrap: break-word;
  background-color: var(--g-12);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: var(--border-r);
}
.gantt-container {
  --first-row: 1;
  --first-col: 1;
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: calc(var(--first-col) * 1ch) minmax(0, 1fr);
  grid-template-rows: calc(var(--first-row) * 1px) minmax(0, 1fr);
  min-width: 0;
  /* height: 100%; */
  overflow: hidden;
  word-wrap: break-word;
  background-color: var(--g-12);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: var(--border-r);
}
.gantt-container > div {
  display: grid;
  place-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.gantt-container > div:first-child {
  display: grid;
  place-items: center;
}
.gantt-container > div:nth-child(odd) {
  border-right: 4px solid rgba(0, 0, 0, 0.125);
}
.gantt-container > div.gantt-main {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
/* .gantt-container > #legend {
  height: 60;
} */

.svg-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.svg-container:hover::-webkit-scrollbar {
  width: 0.675rem;
  height: 0.675rem;
}
svg.gantt {
  overflow: hidden;
  vertical-align: middle;
  --bar-color: #b8c2cc;
  --bar-color-darker: #738ba3;
  --bar-stroke: #8d99a6;
}
svg.gantt > rect:nth-child(odd) {
  fill: white;
}
svg.gantt > rect:nth-child(even) {
  fill: var(--g-11);
}
.grid-background {
  fill: rgba(248, 221, 217, 0.2);
}
.grid-header {
  fill: #ffffff;
  stroke: var(--shadow);
  stroke-width: 1.4;
}
.grid-row {
  fill: var(--white);
}

.row-shade {
  fill: var(--g-12);
}
.lower-text,
.upper-text {
  font-size: 12px;
  text-anchor: middle;
}
.lower-text {
  fill: var(--text-color);
}
.bar-label {
  dominant-baseline: middle;
  text-anchor: start;
  font-size: 12px;
  letter-spacing: 0.7px;
  cursor: pointer;
  pointer-events: bounding-box;
}
.bar-label.big {
  fill: var(--text-light);
  text-anchor: start;
}
.line {
  stroke: var(--g-10);
}
.line-thicker {
  stroke: var(--g-10);
  stroke-width: 2;
}
.line-thickest {
  stroke: var(--g-10);
  stroke-width: 5;
}
.bar {
  fill: var(--bar-color);
  stroke: var(--bar-stroke);
  stroke-width: 1;
  transition: stroke-width 0.3s ease, width 0.3s ease;
}
.bar-dark {
  fill: var(--bar-color-darker);
}
.handle {
  fill: var(--bar-color-darker);
  opacity: 0;
  transition: stroke-width 0.3s ease;
}
.bar:hover ~ .handle,
.handle:hover,
.handle:hover ~ .handle {
  opacity: 1;
}
.handle:hover,
.handle.h-drag,
.handle.h-drag:hover {
  cursor: ew-resize;
}
.handle.h-drag {
  opacity: 1;
  position: relative;
}
.bar.h-drag {
  stroke-width: 1;
}
.edge {
  stroke: var(--bar-color-darker);
  /* stroke-width: 3; */
  fill: var(--bar-color-darker);
  stroke-width: 1;
}
.spanning-line {
  stroke: var(--bar-color);
  stroke-width: 3;
  stroke-dasharray: 20, 4;
}
/* .svg-tip {
  visibility: hidden;
} */
.svg-tip > text {
  dominant-baseline: hanging;
  font-size: 12px;
}
text.title,
tspan.title {
  font-weight: bold;
}
.day-highlight {
  fill: #ef8f8f;
  /* #f6f5ed; */
  opacity: 0.1;
}
.day-highlight-more {
  fill: #738ba3;
  opacity: 0.05;
}
svg.gantt #arrows {
  fill: none;
  stroke: #777;
  stroke-width: 1.2;
}
