[data-drag-container],
[data-drop] {
  position: relative;
}
[data-drag-ghost] {
  display: none;
}
.dragging {
  background-color: var(--blue-0);
  box-shadow: 2px 2px 1px var(--g-9);
  position: absolute;
  /* position: fixed;
   top: 0;
  left: 0; */
  cursor: pointer;
  /* padding: 0.25rem 0;
   pointer-events: none; */
  z-index: 122;
}
.drag-source {
  opacity: 0.3;
}
.dragging.off {
  transition: all 0.3s ease-out;
}
.drag-place {
  height: 0px;
  width: 100%;
  /* transition: order 1s;
   transition: height 0.1s ease-out; */
}
.drag-place.on {
  /* max-height: 10rem; */
  height: var(--pl-height, 0);
  /* transition: height 0.05s ease-out; */
}
/* [data-draggable] {
  transition: transform 0.5s ease-out;
} */
[data-drag-handle] {
  cursor: grab;
  /* opacity: 0; */
}
[data-drag-handle].no-drop {
  cursor: no-drop;
}
.item-bottom {
  order: 1000;
}
@keyframes drag-end {
  to {
    transform: translate(0px, 0px);
  }
}
.drag_end {
  animation: drag-end 500ms;
}
