[data-drag-container],
[data-drop] {
  position: relative;
}
.dragging {
  background-color: var(--blue-0);
  box-shadow: 2px 2px 1px var(--g-9);
  position: fixed;
  /* top: 0;
  left: 0; */
  cursor: pointer;
  padding: 1rem;
  /* pointer-events: none; */
  z-index: 22;
}
.dragging.off {
  transition: all 0.3s ease-out;
}
.drag-place {
  --height: 0px;
  height: 0px;
  width: 100%;
  /* transition: height 0.1s ease-out; */
}
.drag-place.on {
  /* max-height: 10rem; */
  height: var(--height);
  transform: height 0.5s ease;
}
/* [data-draggable] {
  transition: transform 0.5s ease-out;
} */
[data-drag-handle] {
  cursor: grabbing;
  /* opacity: 0; */
}
[data-drag-handle].no-drop {
  cursor: no-drop;
}
@keyframes flexGrow {
  from {
    max-height: 0px;
  }
  to {
    max-height: 40rem;
  }
}
