/* Generic */
[role='button'] {
  cursor: pointer;
}
[role='button']:focus {
  outline: none; /* 1px solid var(--g-7); */
}
textarea {
  resize: none;
}
.minimal {
  background: none;
  border: none;
  /* box-shadow: none !important; */
}
.minimal .input-wrapper {
  box-shadow: none;
}
.minimal .select-title {
  background: none;
  padding: 0;
}
.minimal .input-wrapper[data-before]::before,
.minimal .input-wrapper[data-after]::after {
  border: none;
}
.no-pad {
  padding: 0 !important;
}
.container-relative {
  position: relative;
}
.form-grid {
  display: grid;
  justify-items: start;
  overflow-y: visible;
  grid-gap: 0.5rem 1rem;
  padding: 0.5rem 0;
}
.form-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.bg-info {
  background-color: var(--success) !important;
  border: solid 1px var(--text-muted) !important;
}
.bg-success {
  background-color: var(--success) !important;
  border: solid 1px var(--text-muted) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
  border: solid 1px var(--text-muted) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
  border: solid 1px var(--text-muted) !important;
}
/* Icon */
.with-icons {
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: stretch;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: inherit;
}
.with-icons > * {
  flex: 1 1 auto;
}
.with-icons[data-before]::before,
.with-icons[data-after]::after {
  flex: 0 0 auto;
  padding: 0.5rem 0.5rem;
}
.with-icons[data-before]::before {
  content: attr(data-before);
}
[data-after]::after {
  content: attr(data-after);
}
.rotate-90::before,
.rotate-90::after {
  transform: rotate(90deg);
}
.rotate-180::before,
.rotate-180::after {
  transform: rotate(180deg);
}
.i-fa::before,
.i-fa::after {
  font-family: 'Font Awesome 5 Pro';
}
.with-icons.i-txt.i-fa::after {
  font-family: inherit;
  font-weight: 500;
}
.i-fa.i-b::before,
.i-fa.i-b::after {
  font-family: 'Font Awesome 5 Brands';
}
.i-txt .with-icons.i-r::before,
.with-icons.i-r::after {
  font-weight: 400;
}
.with-icons.i-l::before,
.with-icons.i-l::after {
  font-weight: 300;
}
.with-icons.i-s::before,
.with-icons.i-s::after {
  font-weight: 900;
}
.with-icons.blend[data-before]::before,
.with-icons.blend[data-after]::after {
  border: none;
  background-color: inherit;
}
.with-icons.blend > input {
  box-shadow: none;
}
.i-md::before,
.i-md::after {
  font-size: 1em;
}
.i-lg::before,
.i-lg::after {
  font-size: 1.5em;
}
.i-xl::before,
.i-xl::after {
  font-size: 2em;
}
.i-xxl::before,
.i-xxl::after {
  font-size: 2.5em;
}
.with-icons.select::after {
  font-weight: 900;
  font-size: 1.5em;
  margin: 0 0.5rem;
  color: var(--g-5);
}

.form-control {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  margin: 0.5rem 0;
  width: 100%;
  padding-top: 1.25rem;
}
.form-message {
  color: inherit;
  font-weight: 400;
}
.form-label {
  color: inherit;
  font-weight: 500;
}
.lbl-transient {
  position: absolute;
  top: -2px;
  z-index: 12;
  transition: transform 0.4s ease;
}
.lbl-static {
  order: -1;
}
.form-control:focus-within > label.lbl-transient,
.form-control.has-value > label.lbl-transient {
  transform: translate(0, 0) !important;
}
.form-control > label.lbl-transient {
  transform: translate(1rem, 1.75rem);
}
.form-control > .input-wrapper[data-before] + label.form-label {
  transform: translate(3rem, 1.75rem);
}
.form-control.success > label.checkbox-wrapper,
.form-control.info > label.checkbox-wrapper,
.form-control.warning > label.checkbox-wrapper,
.form-controlr.danger > label.checkbox-wrapper {
  color: inherit;
}
.form-control.info > label {
  color: var(--info);
}
.form-control.info > .input-wrapper {
  box-shadow: 0 0 0 1px var(--info);
}
.form-control.danger > label {
  color: var(--danger);
}
.form-control.danger > .input-wrapper {
  box-shadow: 0 0 0 1px var(--danger);
}
.form-control.warning > label {
  color: var(--warning);
}
.form-control.warning > .input-wrapper {
  box-shadow: 0 0 0 1px var(--warning);
}
.form-control.success > label {
  color: var(--success);
}
.form-control.success > .input-wrapper {
  box-shadow: 0 0 0 1px var(--success);
}
.input-wrapper.success > label.checkbox-wrapper,
.input-wrapper.info > label.checkbox-wrapper,
.input-wrapper.warning > label.checkbox-wrapper,
.input-wrapper.danger > label.checkbox-wrapper {
  color: inherit;
}

/* Input-wrapper */
.input-wrapper {
  display: inline-flex;
  align-items: stretch;
  position: relative;
  box-shadow: 0 0 0 1px var(--border-c);
  border-radius: var(--border-r);
  min-height: 2rem;
  /* min-width: 16rem; */
}

.form-control .input-wrapper,
.form-control > .popover-wrapper {
  width: 100%;
}
.input-wrapper[data-before]::before {
  border-right: 1px solid var(--g-10);
}
.input-wrapper[data-after]::after {
  border-left: 1px solid var(--g-10);
}

.input-wrapper:focus-within {
  box-shadow: 0 0 0 2px var(--lightPrimary);
  border: none;
}
.with-btn > .del-btn {
  position: absolute;
  right: 0px;
  top: 0;
  background: inherit;
  flex: 0 0 auto;
  display: none;
  color: var(--secondary-text);
}
.with-btn[data-after] > .del-btn {
  right: calc(1.5rem + 1px);
}
.with-btn:hover > .del-btn {
  display: flex;
}
.with-btn > .del-btn.on {
  display: flex;
}
.del-btn:focus {
  outline: none;
}

/* Tag */
.tag-container {
  cursor: text;
  background: var(--white);
  padding: 0.25rem 2rem 0.25rem 0;
  width: 100%;
}
.tag {
  display: inline-block;
  flex: 1 0 auto;
  position: relative;
  background: var(--blue-5);
  color: var(--white);
  border: none;
  border-radius: var(--border-r);
  box-shadow: none;
  line-height: 1.25rem;
  max-width: fit-content;
  min-width: 2rem;
  padding: 0 2rem 0 0.5rem;
  margin: 1px 0.25rem;
}
.tag.tag-text {
  padding-right: 0.5rem;
}
.tag > .del-btn {
  background: inherit;
  color: var(--white);
}
.tag > .del-btn::before {
  padding: 2px 0.25rem;
}

/* Toaster */
@keyframes slidein {
  from {
    max-height: 0px;
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    max-height: 0px;
    transform: scaleY(0.5);
    opacity: 0;
  }
}
.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 16rem;
  max-width: 24rem;
  padding: 0;
  margin-top: 1rem;
  background: var(--info);
  color: var(--white);
  text-align: center;
  border: 1px solid var(--info-d);
  border-radius: var(--border-r);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slidein 0.4s;
}

/* Tooltip */
[data-tooltip]::after {
  --scale: 0;
  pointer-events: all;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: scale(var(--scale));
  transition: 0.2s transform;
  transform-origin: top center;
  content: attr(data-tooltip);
  color: var(--white);
  font-size: 1.1em;
  padding: 0.5rem;
  border-radius: var(--border-r);
  text-align: center;
  width: max-content;
  max-width: 10rem;
  background: var(--g-4);
}
[data-tooltip]:hover::after {
  --scale: 1;
}

/* Modals */
@keyframes modalin {
  from {
    transform: translate(0%, -200%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes modalout {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(0%, -200%);
    opacity: 0;
  }
}
.modal {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 100;
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
  /*   -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 4.5s ease, opacity 0.5s ease;
  transition-delay: 0.1s; */
  background: var(--g-11);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
  outline: solid rgba(128, 128, 128, 0.6) 50vh;
}
.modal-show {
  pointer-events: auto;
  opacity: 1;
  animation: modalin 0.3s;
  /* -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); */
}
.modal-hide {
  /* opacity: 0; */
  animation: modalout 0.2s;
}
.modal-content {
  display: block;
  padding: 1.8rem 0;
}
.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--g-7);
}
.modal-header > h3 {
  font-size: 1.4em;
}
.modal-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
  background: var(--g-11);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
  outline: solid rgba(128, 128, 128, 0.6) 80vh;
}
