/* Generic */
[role='button'] {
  cursor: pointer;
}
[role='button']:focus {
  outline: none; /* 1px solid var(--g-7); */
}
a {
  color: inherit;
}
textarea {
  resize: none;
}
.minimal {
  background: none;
  border: none;
  /* box-shadow: none !important; */
}
.minimal .input-wrapper {
  box-shadow: none !important;
}
.minimal .select-title {
  background: none;
  padding: 0 0.25rem;
}
.minimal .input-wrapper[data-before]::before,
.minimal .input-wrapper[data-after]::after {
  border: none;
}
.no-pad {
  padding: 0 !important;
}
.container-relative {
  position: relative;
}
.form-grid {
  display: grid;
  justify-items: start;
  overflow-y: visible;
  grid-gap: 0.5rem 1rem;
  padding: 0.5rem 0;
}
.form-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.text-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info,
.info > *,
.info .adorn {
  color: var(--info) !important;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.danger {
  --color: var(--danger);
}
.warning {
  --color: var(--warning);
}
.success {
  --color: var(--success);
}
.info {
  --color: var(--info);
}

.bg-info {
  color: inherit;
  background-color: var(--success) !important;
}
.bg-warning {
  color: inherit;
  background-color: var(--warning) !important;
}
.bg-danger {
  color: inherit;
  background-color: var(--danger) !important;
}
.bg-success {
  color: inherit;
  background-color: var(--success) !important;
}

.form-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  margin: 0.5rem 0;
  width: 100%;
  padding-top: 1.25rem;
}
.form-field > *:first-child {
  width: 100%;
}
.form-message {
  color: var(--color);
  font-weight: 400;
}
.form-label {
  color: var(--color);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.lbl-transient {
  position: absolute;
  top: -2px;
  z-index: 12;
  transition: transform 0.4s ease;
  pointer-events: none;
}
.lbl-static {
  order: -1;
}
.form-field:focus-within > label.lbl-transient,
.has-value + label.lbl-transient {
  transform: translate(0, 0) !important;
}
.form-control + .form-label.lbl-transient {
  transform: translate(1rem, 1.9rem);
}
.form-control.left + .form-label.lbl-transient {
  transform: translate(2.53rem, 1.9rem);
}

/* Adorn */
.adorn {
  display: inline-flex;
  align-items: stretch;
  background-color: var(--white);
  box-shadow: 0 0 0 1px var(--brd-color);
  border-radius: var(--border-r);
  /* min-height: 2rem; */
  width: 100%;
}
.adorn > * {
  min-width: 1rem;
}
.adorn.danger,
.adorn.info,
.adorn.warning,
.adorn.success {
  box-shadow: 0 0 0 1px var(--color);
}
.adorn:focus-within {
  box-shadow: 0 0 0 1px var(--blue-4);
}
.adorn > input {
  box-shadow: none;
}
.adorn > .adorn-left,
.adorn > .adorn-right {
  flex: 0 0 auto;
  padding: 0.5rem 0.5rem;
  background-color: var(--bg-color);
  font-size: 0.9rem;
}
.adorn > .btn {
  flex: 0 0 auto;
  height: fit-content;
  margin-top: 0.25rem;
}
.adorn > .adorn-left {
  border-right: 1px solid var(--brd-color);
  border-radius: 4px 0 0 4px;
}
.adorn > .adorn-right {
  border-left: 1px solid var(--brd-color);
  border-radius: 0 4px 4px 0;
}
.adorn.minimal > .adorn-left,
.adorn.minimal > .adorn-right,
.adorn.blend > .adorn-left,
.adorn.blend > .adorn-right {
  border: none;
  padding: 0 0.125rem;
}
.adorn.minimal > .adorn-left,
.adorn.minimal > .adorn-right {
  background-color: inherit;
}
.adorn.minimal {
  box-shadow: none;
}
.adorn > * {
  flex: 1 1 auto;
}
.adorn > button {
  visibility: hidden;
}
.adorn.on > button,
.adorn.has-value:hover > button {
  visibility: visible;
  box-shadow: none;
}
.adorn > button:hover {
  box-shadow: none;
}

/* Typed input */
.row-composite {
  display: inline-flex;
  flex-flow: row nowrap;
}
/* Tag */
.tag-container {
  display: inline-flex;
  flex-flow: row wrap;
  cursor: text;
  background: var(--white);
  padding: 0.25rem 0.25rem;
  min-width: 1rem;
}
.tag-container:hover {
  cursor: pointer;
}
.tag {
  display: inline-flex;
  align-items: center;
  background-color: var(--blue-5);
  color: var(--white);
  border: none;
  border-radius: var(--border-r);
  box-shadow: none;
  font-size: 0.85em;
  max-width: 100%;
  min-width: 2rem;
  padding: 0 0.25rem;
  margin: 1px 2px;
  text-transform: uppercase;
}
.tag.tag-text {
  padding-right: 0.5rem;
}
.tag > .btn {
  background: inherit;
  color: inherit;
}
.tag > .btn:hover {
  box-shadow: none;
}

/* Toaster */
@keyframes slidein {
  from {
    max-height: 0px;
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    max-height: 0px;
    transform: scaleY(0.5);
    opacity: 0;
  }
}
.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 16rem;
  max-width: 24rem;
  padding: 0;
  margin-top: 1rem;
  background: var(--info);
  color: var(--white);
  text-align: center;
  border: 1px solid var(--info-d);
  border-radius: var(--border-r);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slidein 0.4s;
}

/* Tooltip */
[data-tooltip]::after {
  --scale: 0;
  pointer-events: all;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: scale(var(--scale));
  transition: 0.2s transform;
  transform-origin: top center;
  content: attr(data-tooltip);
  color: var(--white);
  font-size: 1.1em;
  padding: 0.5rem;
  border-radius: var(--border-r);
  text-align: center;
  width: max-content;
  max-width: 10rem;
  background: var(--g-4);
}
[data-tooltip]:hover::after {
  --scale: 1;
}

/* Modals */
@keyframes modalin {
  from {
    transform: translate(0%, -200%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes modalout {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(0%, -200%);
    opacity: 0;
  }
}
.modal {
  margin: 30vh 0 60vh 30vw;
  /* transform: translate(-50%, -50%); */
  max-width: 40rem;
  pointer-events: all;
  opacity: 0;
  background: var(--g-11);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
}
.modal:focus-within {
  outline: none;
}
.modal-show {
  pointer-events: auto;
  opacity: 1;
  animation: modalin 0.3s;
  /* -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); */
}
.modal-hide {
  opacity: 0;
  animation: modalout 0.3s;
}
.modal-content {
  display: block;
  flex: 1 1 auto;
  padding: 1.8rem 0;
}
.modal-header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid var(--g-7);
}
.modal-header > h3 {
  font-size: 1.4em;
}
.modal-footer {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
@keyframes drawerin {
  from {
    transform: translate(100vw, 0%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}
@keyframes drawerout {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(100vw, 0%);
    opacity: 0;
  }
}
.drawer {
  margin: 0;
  width: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  pointer-events: all;
  opacity: 1;
  z-index: 100;
  background: var(--g-12);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
}
.drawer:focus {
  outline: none;
}
.drawer-show {
  pointer-events: auto;
  opacity: 1;
  animation: drawerin 0.3s;
}
.drawer-hide {
  opacity: 0;
  animation: drawerout 0.4s;
}

/* Pager */
.pager {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-center;
  align-items: flex-start;
}
.pager-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.pager-content > button {
  padding: 0.25rem;
  color: var(--g-5);
}
.pager-content .range-slider {
  margin: 0 0.5rem;
  width: 200px;
}
.pager-content > button {
  padding: 0.5rem 0.4rem;
  min-width: 1.5rem;
}
.pager-text {
  margin: 0 2rem 0.25rem 0rem;
  padding-left: 2.5rem;
  text-align: center;
}
/* The slider itself */
.range-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 0.5rem; /* Specified height */
  background: var(--g-8);
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.range-slider:focus {
  outline: none;
}
.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.range-slider::-webkit-slider-runnable-track,
.range-slider::-moz-range-track {
  border-radius: var(--border-r);
  border: 1px solid var(--g-5);
  height: 10px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: var(--g-5);
  cursor: pointer;
}
.range-slider::-webkit-slider-thumb,
.range-slider::-moz-range-thumb {
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: var(--g-5);
  cursor: pointer;
}
