/* Generic */
form {
  margin: 0;
}
fieldset {
  border: 0;
}
legend {
  padding: 0;
  border: 0;
}
[role='button'] {
  cursor: pointer;
}
[role='button']:focus {
  outline: none; /* 1px solid var(--g-7); */
}
a {
  color: inherit;
}
textarea {
  resize: none;
}
h6.undelined {
  position: relative;
}
h6.undelined:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--secondary);
}

.minimal {
  /* background: none; */
  border: none;
  /* box-shadow: none !important; */
}
.minimal .input-wrapper {
  box-shadow: none !important;
}
.minimal .select-title {
  /* background: none; */
  padding: 0 0.25rem;
}
.minimal .input-wrapper[data-before]::before,
.minimal .input-wrapper[data-after]::after {
  border: none;
}
.no-pad {
  padding: 0 !important;
}
.prompt {
  margin: 15rem;
}
[data-collapse-source] {
  --icon-rotate: 0deg;
}
[data-collapse-source] button {
  transform: rotate(var(--icon-rotate));
}
/* Form */
.form {
  margin: 0;
  width: 100%;
  height: 100%;
}
.form-grid {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
  grid-template-rows: repeat(var(--rows), auto);
  overflow-y: visible;
  gap: 0.5rem 0.75rem;
  padding: 0;
  background-color: transparent;
  height: 100%;
}
.form-grid-item,
.form-grid-filler,
.form-grid-cover {
  grid-area: var(--loc);
  justify-self: stretch;
  min-height: 2rem;
  padding: 0.5rem;
}
.form-grid-item {
  background-color: transparent;
  margin: 0;
}
.form-grid-item > .btn {
  margin-bottom: 0.25rem;
}
.form-grid-item.direct {
  justify-content: flex-start;
}
.form-grid-filler {
  background-color: var(--g-10);
  border-radius: var(--border-r);
  box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.4);
  margin: 0;
}

.form-grid-cover {
  background-color: rgba(211, 210, 210, 0.2);
  box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.3);
  border-radius: var(--border-r);
  z-index: 20;
  min-width: 100%;
  margin: 0 -0.25rem;
}
.outlined,
.form-grid-cover.outlined {
  box-shadow: 0 0 2px 1px var(--blue-4), -2px -0 0 0 var(--blue-5);
}
.panel-header > .form-grid-cover {
  flex: 0 0 auto;
  margin: 0 0.5rem;
}
.panel-header.outlined {
  margin-bottom: 0.125rem;
}
.form-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.text-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-link {
  text-decoration: underline;
}

.bg-info {
  color: var(--white);
  background-color: var(--info) !important;
}
.bg-warning {
  color: var(--white);
  background-color: var(--warning) !important;
}
.bg-danger {
  color: var(--white);
  background-color: var(--danger) !important;
}
.bg-success {
  color: var(--white);
  background-color: var(--success) !important;
}
.bg-muted {
  color: var(--white);
  background-color: var(--muted) !important;
}

.readonly {
  margin: 0 0 0 0.125rem;
}
.input-group {
  --color: var(--primary);
  --border-color: var(--muted);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 1.375rem 0 0.25rem 0;
}
/* .input-group.direct {
  padding-top: 0.75rem;
} */
.input-group.lbl-horizontal {
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 0;
}
.input-group.lbl-horizontal > :first-child {
  width: auto;
}
.input-group.lbl-horizontal > label {
  position: static;
  order: -1;
  margin-right: 1rem;
}
.input-group > *:first-child {
  width: 100%;
}
.input-group > .btn {
  display: inline;
}
.cascade > .input-group .lbl {
  font-size: 0.9em;
}
.help-block {
  color: var(--color-help);
  font-weight: 400;
  font-size: 0.6875rem;
  margin-top: 0.25rem;
}
.lbl {
  color: var(--color);
  font-weight: 600;
  margin: 0.25rem 0;
  /* font-size: 0.9em; */
  font-size: 0.625rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 40%);
}
.lbl.hr {
  margin-right: 1rem;
}
.lbl-transient {
  position: absolute;
  top: 0px;
  z-index: 12;
  transition: transform 0.4s ease;
  pointer-events: none;
}
.lbl.lbl-transient {
  margin: unset;
}
.lbl-static {
  order: -1;
}
.input-group.has-value > label.lbl-transient,
.input-group:focus-within > label.lbl-transient,
.input-group > span.has-value ~ label.lbl-transient {
  transform: translate(0, 0) !important;
}
.input-group > .lbl.lbl-transient {
  transform: translate(1rem, 1.9rem);
}
.input-group > .prepend + .lbl.lbl-transient {
  transform: translate(2.5rem, 1.9rem);
}
.input-group.success > .form-control,
.input-group.warning > .form-control,
.input-group.info > .form-control,
.input-group.danger > .form-control {
  box-shadow: 0 0 0 1px var(--color);
  border-radius: var(--border-r);
}

/* Adorn */
.adorn {
  display: inline-flex;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0 0 1px var(--extra-muted);
  border-radius: var(--border-r);
  height: fit-content;
  min-height: var(--ctrl-height);
  width: 100%;
}
.adorn.small {
  max-height: inherit;
}
label > .adorn {
  /* padding-left: var(--border-r); */
  height: unset;
}
.adorn > * {
  min-width: 1rem;
}
.danger .adorn,
.info .adorn,
.warning .adorn,
.success .adorn {
  box-shadow: none;
  /* 0 0 0 1px var(--color); */
}
.adorn:focus-within {
  box-shadow: 0 0 0 1px var(--blue-4);
}
.adorn > input,
.adorn > textarea {
  box-shadow: none;
  border: none;
}
textarea.input {
  height: 100%;
}
.adorn.disabled > button[role='deletion'] {
  display: none;
}
.adorn > .prepend,
.adorn > .adorn-right {
  flex: 0 0 auto;
  padding: 0.375rem 0.5rem;
  height: 100%;
  /* background-color: var(--bg-color); */
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}
.adorn.small {
  min-height: unset;
  padding-left: 0.125rem;
}
.adorn.small > .adorn-right {
  padding: 0rem 0.5rem;
}
.adorn.small > .select-title {
  padding: 0.125rem 0.5rem;
}
.adorn-right > .clip-icon {
  padding: 0;
  margin: 0;
}
.adorn-right > span {
  font-size: 1rem;
}
.adorn > button.btn {
  flex: 0 0 auto;
  height: fit-content;
}
.adorn > .prepend {
  --color: var(--normal);
  border-radius: var(--border-r1) 0 0 var(--border-r1);
}
.adorn > .adorn-right {
  border-left: 1px solid var(--border-color);
  border-radius: 0 var(--border-r1) var(--border-r1) 0;
}
.adorn.blend > .prepend,
.adorn.blend > .adorn-right {
  border: none;
}
.adorn.minimal > .prepend,
.adorn.minimal > .adorn-right {
  border: none;
  background-color: inherit;
  padding: 0.5rem 0.125rem;
}
.adorn.minimal > .dropdown-text {
  background: none;
}
.adorn.minimal {
  align-items: center;
  box-shadow: none;
}
.adorn > * {
  flex: 1 1 auto;
}
.adorn > button.close {
  visibility: hidden;
}
.adorn.on > button.close,
.adorn:hover > button.close {
  visibility: visible;
  box-shadow: none;
}
.adorn > button:hover {
  box-shadow: none;
}

/* Typed input */
.row-composite {
  display: inline-flex;
  flex-flow: row nowrap;
}
/* Tag */
.tag-container {
  display: inline-flex;
  flex-flow: row wrap;
  background: var(--white);
  padding: 0.25rem 0.25rem;
  min-width: 1rem;
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: var(--border-r);
}
.adorn > .tag-container {
  box-shadow: none;
}
span.tag-container:hover {
  cursor: text;
}
span.tag-container:focus {
  outline: none;
}
.tag-container > .tag {
  margin: 0.125rem;
}
.adorn.minimal {
  box-shadow: none;
  background: none;
}
.adorn.disabled,
.tag-container.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--disabledText);
}
.adorn.disabled > input {
  background-color: var(--disabledText);
}
a[disabled] .disabled {
  cursor: default;
  color: var(--disabled);
}
.tag-container:hover {
  cursor: pointer;
}
.tag {
  --color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  background-color: var(--g-10);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--border-color, var(--g-7));
  outline: none;
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 100%;
  min-width: 2rem;
  height: 1.25rem;
  padding: 0.25rem 0.125rem 0.25rem 0.5rem;
  margin: 1px 2px;
  white-space: nowrap;
}
.tag.tag-text {
  padding-right: 0.5rem;
  text-transform: uppercase;
}
.tag > .btn {
  background: inherit;
  color: inherit;
  height: 80%;
  padding: 0;
  min-height: unset;
}
.tag > .btn:hover {
  box-shadow: none;
}
span.tag {
  display: inline-flex;
}
span.tag.pill {
  border-radius: 0.75rem;
  box-shadow: 0 0 0 1px var(--g-7);
}
span.tag.pill {
  padding-right: 0.5rem;
  user-select: none;
}
.btn > span.tag.pill {
  padding: 0.5rem 1rem;
}

/* Toaster */
@keyframes slidein {
  from {
    max-height: 0px;
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    max-height: 10rem; /*This will change for each element */
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    max-height: 0px;
    transform: scaleY(0);
    opacity: 0;
  }
}

/* List */
.list {
  display: flex;
  flex-flow: column nowrap;
  /* box-shadow: 0 0 0 1px var(--g-7); 
  padding: 0 0.5rem;*/
}
.list > ul {
  list-style: decimal;
}
.list > ul > li {
  display: list-item;
}
.list.numbered > ul > li {
  list-style: decimal;
}
.list > .add {
  display: flex;
}
.list > .add > .button-group {
  margin-left: auto;
}
.list-group {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.25rem 0 0.125rem 0;
}
.list > .list-group {
  margin-left: 1rem;
}
.add-item > .list-item {
  box-shadow: 0 1px 0 0px var(--g-5);
}
.list-group > .list-item > input {
  font-weight: 600;
}
.list-group > .item-icon {
  margin-right: 0.5rem;
}
.list-group.collapsible {
  --border-color: transparent;
}

.item-header {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.125rem 0;
  user-select: none;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
  /* width: 100%; */
}
.item-header.spread {
  justify-content: space-between;
  box-shadow: 0 1px 0 0 var(--g-9);
}
.item-header.group {
  padding-left: 0;
  margin-left: -0.125rem;
  box-shadow: 0 1px 0 0px var(--g-9);
}
.item-header > .form-control {
  margin-left: 0.25rem;
}
.item-header > .popover-wrapper {
  flex: 1 1 auto;
  min-width: 0;
}
.item-header > .text-editable,
.item-header > .text-dots {
  flex-grow: 1;
}
.item-header > .popover-wrapper.count {
  flex: 0 0 auto;
}
.item-header.group > [data-collapse-source] {
  margin-left: 0.375rem;
}
.item-header.group > button {
  padding: 0.125rem;
}
.item-header > .button-group {
  visibility: hidden;
}
.item-header:hover {
  background-color: var(--g-11);
  border: 1px solid var(--g-10);
  border-left: 1px solid var(--g-10);
}
.item-header:hover > .button-group {
  visibility: visible;
}
.item-header > .button-group > button {
  height: unset;
  min-height: 1.25rem;
  min-width: 1rem;
}
.item-header > input.text-editable,
.item-header > .title {
  flex: 1 1 auto;
  margin: 0.125rem 0 0.125rem 0;
  padding: 0;
}
.item-header > input::placeholder {
  font-style: italic;
  color: var(--muted);
}
.item-header button.btn-collapse {
  padding: 0;
}
.item-header::after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-left: 0.75rem solid var(--g-9);
  border-bottom: 0.75rem solid transparent;
  transition: all 0.2s ease-out;
  transform: translateY(-50%);
}
.item-header.selected {
  background-color: var(--g-10);
  box-shadow: 1px 1px 1px var(--g-9);
}
.item-header.selected::after {
  opacity: 1;
  right: -1.5rem;
}
.item-content {
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.item-grip {
  width: 0.75rem;
  background-color: var(--g-10);
  align-self: stretch;
  margin: -4px 0 -5px 0;
  display: none;
}
.item-header:hover > .item-grip {
  display: block;
}
.item-grip::after {
  content: '......';
  overflow: hidden;
  display: inline-block;
  color: #555;
  font-style: normal;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  transform: rotate(90deg) translate(0.5rem, 0.5rem);
  text-shadow: 0px -4px 0px #555;
  /* margin-right: 5px; */
}

.triangle-right {
  width: 0;
  height: 0;
  color: blue;
  border-top: 16px solid transparent;
  border-left: 32px solid currentColor;
  border-bottom: 16px solid transparent;
}

.panel {
  padding: 0.5rem;
  border-color: #ddd;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: var(--border-r);
  -webkit-box-shadow: 0 0 10.5rem 0 rgb(0 0 0 / 5%);
  box-shadow: 0 0 0.25rem 0 var(--g-9);
}
.panel-header {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  border-bottom: solid 1px var(--g-9);
  padding: 0 0 0.5rem 0;
}
.panel-header.section {
  border: none;
}
.panel-header > * {
  flex: 1 1 auto;
}
.panel-header > button,
.panel-header > *:last-child {
  flex: 0 0 auto;
}
.panel > .panel-body {
  padding: 0.25rem;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 16rem;
  max-width: 24rem;
  padding: 0.25rem;
  margin-top: 1rem;
  color: var(--color);
  font-weight: 600;
  text-align: center;
  background-color: var(--white);
  border: 2px solid var(--color);
  border-left: 4px solid var(--color);
  border-radius: var(--border-r);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slidein 0.4s;
}
.toast > svg.icon {
  width: 2rem;
  color: inherit;
}
.toast > span {
  padding: 0.25rem 0.5rem;
  border-left: 1px solid var(--color);
}
.toast > button.btn {
  padding: 0.25rem;
  --color: var(--color);
}

/* Tooltip */
[data-tooltip]::after {
  --scale: 0;
  pointer-events: all;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: scale(var(--scale));
  transition: 0.2s transform;
  transform-origin: top center;
  content: attr(data-tooltip);
  color: var(--white);
  font-size: 1.1em;
  padding: 0.5rem;
  border-radius: var(--border-r);
  text-align: center;
  width: max-content;
  max-width: 10rem;
  background: var(--g-4);
}
[data-tooltip]:hover::after {
  --scale: 1;
}

/* Modals */
@keyframes modalin {
  from {
    transform: translate(0%, -200%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes modalout {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(0%, -200%);
    opacity: 0;
  }
}
.modal {
  margin: 30vh 0 60vh 30vw;
  /* transform: translate(-50%, -50%); */
  max-width: 40rem;
  pointer-events: all;
  opacity: 0;
  background: var(--g-10);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
}
.modal:focus-within {
  outline: none;
}
.modal-show {
  pointer-events: auto;
  opacity: 1;
  animation: modalin 0.3s;
  /* -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); */
}
.modal-hide {
  opacity: 0;
  animation: modalout 0.3s;
}
.modal-content {
  display: block;
  flex: 1 1 auto;
  padding: 1.25rem 0;
}
.modal-content > h6 {
  margin-bottom: 0.5rem;
}
.modal-header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid var(--g-7);
}
.modal-header > h3 {
  font-size: 1.4em;
}
.modal-footer {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
@keyframes drawerin {
  from {
    transform: translate(100vw, 0%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}
@keyframes drawerout {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(100vw, 0%);
    opacity: 0;
  }
}
.drawer {
  margin: 0;
  width: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  pointer-events: all;
  opacity: 1;
  z-index: 100;
  background: var(--white);
  border-radius: var(--border-r);
  padding: 1rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px 10px 0 grey;
}
.drawer:focus {
  outline: none;
}
.drawer-show {
  pointer-events: auto;
  opacity: 1;
  animation: drawerin 0.3s;
}
.drawer-hide {
  opacity: 0;
  animation: drawerout 0.4s;
}

/* Pager */
.pager {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-center;
  align-items: flex-start;
}
.pager-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.pager-content > button {
  padding: 0.25rem;
  color: var(--g-5);
}
.pager-content .range-slider {
  margin: 0 0.5rem;
  width: 200px;
}
.pager-content > button {
  padding: 0.5rem 0.4rem;
  min-width: 1.5rem;
}
.pager-text {
  margin: 0 2rem 0.25rem 0rem;
  padding-left: 2.5rem;
  text-align: center;
}
/* The slider itself */
.range-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 0.5rem; /* Specified height */
  background: var(--g-8);
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.range-slider:focus {
  outline: none;
}
.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.range-slider::-webkit-slider-runnable-track,
.range-slider::-moz-range-track {
  border-radius: var(--border-r);
  border: 1px solid var(--g-5);
  height: 10px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: var(--g-5);
  cursor: pointer;
}
.range-slider::-webkit-slider-thumb,
.range-slider::-moz-range-thumb {
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: var(--g-5);
  cursor: pointer;
}

/* Tabs */
.tab-container {
  display: flex;
  flex-flow: column nowrap;
}
.tab-content {
  padding: 0.5rem 0.25rem;
  height: auto;
  min-height: 0;
  display: flex;
  align-items: stretch;
  flex: 1;
}
.radio-wrapper label.radio-tab {
  font-weight: 400;
  padding: 0 0.5rem 0.25rem 0.5rem;
  border-radius: 0;
  box-shadow: 0 1px 0 0 var(--extra-muted);
  transition: box-shadow 0.8s ease;
}
label.radio.radio-tab:hover {
  font-weight: 600;
  border-radius: 0;
}
.radio-wrapper label.radio-tab.checked {
  font-weight: 600;
  box-shadow: 0px 2px 0 0 var(--secondary);
  transition: box-shadow 0.8s ease;
}
nav[role='tabpanel'] {
  display: flex;
  position: relative;
  padding-top: 0.25rem;
}
.tab-container.row > nav[role='tabpanel'] {
  padding-top: 1rem;
  flex-flow: column nowrap;
}
nav[role='tabpanel'] > .row {
  margin-right: 3rem;
}
.tab-body {
  position: relative;
}
.tab-body > .tab-panel {
  position: absolute;
  top: 100vh;
  opacity: 0;
  margin-top: 1.2rem;
  transform: scale(0.5);
  transition: opacity 0.7s ease-in-out 0ms, top 0.1s ease-in-out 0ms,
    transform 0.4s ease-in-out 0ms;
}
.tab-body > .tab-panel.active {
  opacity: 1;
  top: 0;
  transform: scale(1);
}
.tabs-full-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}
.tabs-fill {
  flex-grow: 1;
}
