/* Checkbox */
.checkbox-wrapper {
  cursor: pointer;
  display: flex;
  /* position: relative; */
  text-transform: none;
  font-size: 0.92em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: flex-start;
  color: var(--selected, var(--primary));
}
.checkbox-wrapper.disabled {
  cursor: none;
}
.checkbox-wrapper > input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
}
.checkbox-wrapper > input:checked ~ i {
  background: var(--g-9);
}
.checkbox-wrapper > input:checked ~ i:after {
  left: 50%;
  background: currentColor;
}
.checkbox-wrapper.disabled > input:checked ~ i:after {
  background: var(--blue-2);
}
.checkbox-wrapper > i {
  outline: 0;
  display: inline-block;
  flex: 0 0 auto;
  width: calc(2 * var(--height));
  height: var(--height);
  color: var(--blue-5);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #c9d6de;
  border-radius: var(--height, 1.25rem);
  padding: 1px;
  margin-right: 0.25rem;
  transition: all 0.4s ease;
}
.checkbox-wrapper > i:after,
.checkbox-wrapper > i:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  /* calc (var(--height, 2rem)-6px); */
}
.checkbox-wrapper > i:after {
  left: 0;
  border-radius: 50%;
  background: #f0f5f9;
  transition: all 0.4s ease;
}
.checkbox-wrapper > i:before {
  display: none;
}

.checkbox-wrapper > input + span {
  display: inline-block;
  flex: 0 0 auto;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--g-7);
  height: var(--height, 1.25rem);
  width: var(--height, 1.25rem);
  margin-right: 0.5rem;
}
.checkbox-wrapper > span:last-child {
  flex: 1 1 auto;
}
.checkbox-wrapper.disabled > input + span {
  background: var(--g-11);
}
.checkbox-wrapper > input:checked + span {
  border-color: var(--g-5);
}
.checkbox-wrapper > input + span:after {
  content: '';
  display: inline-block;
  color: var(--g-5);
  opacity: 0;
  position: absolute;
  left: 30%;
  top: 0px;
  width: calc(var(--height, 1.25rem) / 3);
  height: calc(var(--height, 1.25rem) / 1.5);
  border: solid var(--g-5);
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  transition: transform 0.4s, opacity 0.4s;
}
.checkbox-wrapper > input:checked + span:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

/* Radio */
.radio-wrapper {
  display: flex;
  width: fit-content;
  align-items: stretch;
}
.radio-wrapper.row {
  justify-content: flex-start;
}
.radio-wrapper input[type='radio'] {
  display: none;
}
label.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.1rem 0;
  font-weight: 400;
  font-size: 0.92em;
  padding: 0 0.5rem;
}
label.radio:hover {
  border-radius: var(--border-r);
}
label.radio span {
  width: 100%;
  text-align: left;
  padding: 0rem;
}
label.radio-btn {
  border: 1px solid var(--g-7);
  margin: 0;
}
label.radio-btn span {
  padding: 0.5rem 1rem;
}
.radio-wrapper label.radio-btn.minimal {
  border: none;
}
.radio-wrapper.row label.radio-btn {
  border-left: none;
}
.radio-wrapper.column label.radio-btn {
  border-top: none;
}
/* .radio-wrapper.row label:not(.minimal):first-of-type {
  border-left: 1px solid var(--g-7);
  border-radius: var(--border-r) 0 0 var(--border-r);
}
.radio-wrapper.row label.radio-btn:last-child {
  border-radius: 0 var(--border-r) var(--border-r) 0;
}
.radio-wrapper.column label:not(.minimal):first-of-type {
  border-top: 1px solid var(--g-7);
  border-radius: var(--border-r) var(--border-r) 0 0;
}
.radio-wrapper.column label.radio-btn:last-child {
  border-radius: 0 0 var(--border-r) var(--border-r);
} */
.radio-marker {
  flex: 0 0 auto;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--g-6);
  border-radius: 50%;
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 2px;
}
.radio-marker:hover {
  border-color: var(--blue-3);
}
label.radio.checked > .radio-marker {
  border-color: var(--blue-5);
}
.radio-marker.disabled {
  cursor: default;
  color: var(--disabled);
}
label.radio.checked > .radio-marker::after {
  background-color: var(--blue-5);
}
label.radio.checked.disabled > .radio-marker {
  border-color: var(--g-6);
}
label.radio.checked.disabled > .radio-marker::after {
  background-color: var(--g-6);
}
input[type='radio'] + label > .radio-marker::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: var(--g-5);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.4s;
}
input[type='radio']:checked + label.radio-btn {
  background: var(--g-6);
  color: var(--white);
  height: 100%;
}
input[type='radio']:checked + label.minimal > span {
  color: inherit;
  font-weight: 500;
  font-size: 1.1em;
}
input[type='radio']:checked + label > .radio-marker::after {
  transform: scale(1);
}
