/* Inputs */
.input {
  display: inline-block;
  outline: none;
  box-shadow: none;
  border-radius: var(--border-r);
  border: none;
  font-size: 1em;
  line-height: 1.5;
  height: var(--ctrl-height);
  max-width: 100%;
  padding: 0rem 0.375rem;
  /* margin: 0.125rem; */
}
.adorn > .input {
  max-height: none;
}
.input-wrapper > .input {
  box-shadow: none;
  width: 100%;
}
.input[type='number'] {
  padding-right: 0;
}
.input[type='number']::placeholder,
.input[type='number']::-webkit-input-placeholder {
  color: inherit;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea.input {
  max-height: 10rem;
  width: 100%;
}
textarea.area-expand {
  resize: none;
  overflow: hidden;
}

/* Masked */
.mask-wrapper {
  padding: 1px 2px;
  display: inline-flex;
  gap: 2px;
  justify-items: flex-start;
  align-items: center;
}
.mask-wrapper > * {
  min-width: 0.5rem;
}
.mask-wrapper.disabled {
  background-color: var(--g-10);
}
.mask-wrapper span {
  font-weight: 700;
}
.mask-wrapper > input {
  height: 90%;
  outline: none;
  border: none;
  box-shadow: none;
  text-align: center;
  border-radius: 0;
  padding: 0.125rem;
}
/* .mask-wrapper > .input::placeholder {
  color: inherit;
} */
.mask-wrapper.no-value > .input::placeholder {
  color: transparent;
}
/* .mask-wrapper > .input.edit::placeholder {
  color: inherit;
} */
.mask-wrapper > input:focus {
  box-shadow: 0 -1px 0 0px var(--blue-3) inset;
}

input.text-editable {
  border: none;
  background-color: inherit;
  padding: 0rem 0.25rem;
}
input.text-editable:focus {
  outline: none;
  box-shadow: 0 1px 0 0 var(--g-7);
  padding-left: 0.25rem;
}
input.text-editable::placeholder {
  opacity: 0.8;
}
input.text-editable:focus::placeholder {
  opacity: 1;
}
.text-editor {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0.25rem 0.5rem;
  min-height: 6rem;
  box-shadow: 0 0 0 1px var(--g-9);
  border-radius: var(--border-r);
}
.text-editor-toolbar {
  flex: 0 0 1rem;
  padding-bottom: 0.125rem;
  box-shadow: 1px 1px 1px 0x var(--g-9);
}
.text-editor-content {
  flex: 1 1 4rem;
  overflow: scroll;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  direction: ltr;
  text-align: left;
  -webkit-user-modify: read-write-plaintext-only;
  border-top: 1px solid var(--g-9);
  width: 100%;
  padding: 0.5rem 0.25rem;
}
.text-editor-content:focus {
  outline: none;
}
.text-editor-content {
  line-height: 1.5;
}
