.icon {
  width: 1em;
  height: 1em;
  padding: 0;
  background: inherit;
  font-size: inherit;
}
.info .icon,
.success .icon,
.warning .icon,
.danger .icon {
  color: inherit;
}
svg.icon > use {
  fill: currentColor;
}
i[data-before] {
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: stretch;
  font-style: normal;
  font-weight: inherit;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: var(--g-5);
}
.btn > i[data-before] {
  color: inherit;
}
i[data-before]::before {
  content: attr(data-before);
}
.icon.lg,
i[data-before].lg {
  font-size: 1.25rem;
}
.icon.xl,
i[data-before].xl {
  font-size: 1.5rem;
}
.icon.xxl,
i[data-before].xxl {
  font-size: 1.75rem;
}
.icon.xxxl,
i[data-before].xxxl {
  font-size: 2rem;
}
.icon.r-90,
i[data-before].r-90 {
  transform: rotate(90deg);
}
.icon.r-180,
i[data-before].r-180 {
  transform: rotate(180deg);
}
.icon.r-270,
i[data-before].r-270 {
  transform: rotate(270deg);
}

/* Tooltip */
[data-tip]::after {
  --scale: 0;
  pointer-events: all;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: scale(var(--scale), var(--scale));
  transition: 0.2s transform;
  transform-origin: top center;
  content: attr(data-tip);
  color: var(--white);
  font-size: 0.7rem;
  padding: 2px 0.25rem 2px 0.25rem;
  border-radius: var(--border-r);
  text-align: center;
  width: max-content;
  max-width: 12rem;
  background: var(--info);
}
[data-tip]:hover::after {
  --scale: 1;
  z-index: 100;
}
.hint-left[data-tip]::after {
  left: -100%;
}
