html {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --border-r: 3px;
  --border-r1: 5px;
  /* --primary: #324148; #2a2e31*/
  --primary: hsl(0, 0%, 20%);
  --secondary: hsl(0, 0%, 48%);
  --normal: hsl(0, 0%, 38%);
  --color-help: #898989;
  --bg-color: #f5f5f6;
  --bg-color-l: #fdfdfd;
  --bg-color-d: #919191;
  --brd-color: rgb(62 44 90 / 50%);
  --muted: #939ca3;
  --extra-muted: #a9b3bb;
  --primaryTextThemeDark: #ffffff;
  --secondaryTextThemeDark: #f5f7fa;
  --divider: #e3e4e5;
  --dividerThemeDark: #434a54;
  --dividerAlt: #363b42;
  --iconThemeDark: #ebeced;
  --shadow: #e6e9ed;
  --disabled: rgb(0, 0, 0, 0.1);
  --disabledThemeDark: #646668;
  --disabledText: rgba(239, 239, 239, 0.3);
  --disabledTextThemeDark: #e3e4e5;
  --bgMain: #fcfcfc;
  --bgGrayThemeDark: #363b42;
  --gray: #4b515d;
  --gray-l: #6f788a;
  --gray-ll: #9198a6;
  --gray-lll: #ebeced;
  --gray-d: #3e4551;
  --gray-dd: #2f4050;
  --white: #ffffff;
  --white50: RGBA(255, 255, 255, 0.5);
  --black: #1a1b1c;
  --side-width: 20rem;
  --side-width-1: 14.2rem;
  --ctrl-height: 2rem;
  --btn-height: 2rem;
  --warning: #d68910;
  --warning-d: #d68910;
  --warning-l: #fad7a0;
  --danger: #c00;
  --danger-l: #f5b7b1;
  --danger-d: #b03a2e;
  --success: #04763a;
  --success-l: #a9dfbf;
  --success-d: #1e8449;
  --info-text: #5b6266;
  --info: #275a99;
  --info-d: #1b3f6b;
  --info-l: #a9cce3;
  --g-12: hsl(0, 0%, 99%);
  --g-11: hsl(0, 0%, 95%);
  --g-10: hsl(0, 0%, 90%);
  --g-9: hsl(0, 0%, 80%);
  --g-8: hsl(0, 0%, 70%);
  --g-7: hsl(0, 0%, 60%);
  --g-6: hsl(0, 0%, 54%);
  --g-5: hsl(0, 0%, 46%);
  --g-4: hsl(0, 0%, 38%);
  --g-3: hsl(0, 0%, 33%);
  --g-2: hsl(0, 0%, 27%);
  --g-1: hsla(0, 0%, 12%);
  --dth-bck: #5c7080;
  --dth-clr: #f5f8fa;
  --blue--1: #d9e6f5;
  --blue-0: #c4dbf5;
  --blue-1: #96c2f3;
  --blue-2: #5a9ce7;
  --blue-3: #2f79ce;
  --blue-4: #2565ae;
  --blue-5: #0f5298;
  --blue-6: #0a3e75;
  --height: 100%;
  --font-size: 14px;
  --chevron: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

html {
  font-size: 16px;
}
body {
  box-sizing: border-box;
  display: block;
  scroll-behavior: smooth;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 16px;
  min-height: 100vh;
}
button,
input {
  font-size: var(--font-size);
  font-family: inherit;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, 'Courier New', monospace;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 800;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-right: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.9rem;
}
img {
  max-width: 100%;
  height: auto;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea {
  color: var(--primary);
}
svg {
  color: var(--secondary);
}
.mute {
  color: var(--muted);
}
.xs {
  font-size: 0.8em;
}
.sm {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.95em;
}
.md {
  font-size: 1em;
}
.lg {
  font-size: 1.2em;
}
.xl {
  font-size: 1.4em;
}
.xxl {
  font-size: 1.6em;
}
.xxxl {
  font-size: 1.8em;
}
.w-100 {
  width: 100% !important;
}
.full-size {
  height: 100%;
  width: 100%;
}
.container-relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.keep-color {
  color: inherit !important;
}
input:disabled {
  background-color: var(--disabledText);
}
.disabled {
  pointer-events: none;
  --color: var(--disabledText);
  background: var(--disabledText);
}
.disabled > span {
  background: var(--disabledText);
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.bk-transparent {
  background: transparent !important;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.justaposed {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.justaposed > h6,
.justaposed > h5 {
  line-height: 2;
}
.full-height {
  height: 100%;
}
.pull-right {
  margin-left: auto;
}
.pull-left {
  margin-right: auto;
}
.primary {
  --color: var(--primary);
  --border-color: var(--primary);
}
.secondary {
  --color: var(--secondary);
  --border-color: var(--secondary);
}
.danger {
  --color: var(--danger-d);
  --border-color: var(--danger-d);
}
.warning {
  --color: var(--warning-d);
  --border-color: var(--warning-d);
}
.success {
  --color: var(--success-d);
  --border-color: var(--success-d);
}
.info {
  --color: var(--info);
  --border-color: var(--info-d);
}
.normal {
  --color: var(--normal);
  --border-color: var(--normal-d);
}
.muted {
  --color: var(--muted);
  --border-color: var(--muted-d);
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateX(100%);

    /* transform: scaleY(0.1);transform: translateY(1rem);*/
  }
  100% {
    opacity: 1;
    ransform: translateX(0%);

    /*  transform: scaleY(1);transform: translateY(0);*/
  }
}
@keyframes conceal {
  0% {
    opacity: 1;
    max-height: 30rem;

    /* transform: scaleY(1);transform: translateY(0); */
  }
  100% {
    opacity: 0;
    max-height: 0;

    /* transform: scaleY(0.1);transform: translateY(1rem); */
  }
}
.fade-in {
  animation: reveal 400ms ease;
}
.fade-out {
  animation: conceal 1000ms ease;
}
.spin {
  animation: spin infinite 25s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes growX {
  from {
    transform: scaleX(0.9);
  }
  to {
    transform: scaleX(1);
  }
}
.visible {
  display: block !important;
}
.hidden {
  display: none !important;
}
.show {
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.cursor-default {
  cursor: default;
}
.no-events {
  pointer-events: none;
}
.all-events {
  pointer-events: all;
}
.reveal.on {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform-origin: top;
  animation: reveal 300ms ease;
}
.reveal {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.font-lg {
  font-size: 1.125rem;
}
/* Works on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--white) #aaa;
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
  background-color: aaa5; /* var(--g-7); */
  border-radius: 6px;
  border: 1px solid var(--g-6);
}
html::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  cursor: pointer;
}

/* App styles */
#root {
  --header-height: 3.5rem;
  --footer-height: 3rem;
  --left-width: 12rem;
  --left-width-collapsed: 4rem;
  --sidebar-width: 32ch;
  --sidebar-width-min: 5.2rem;
  --sidebar-width-c: -32ch;
  --aside-collapse-width: 5.2rem;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: var(--font-size);
  color: var(--primary);
  background-color: var(--bg-color-1);
}
small {
  font-size: 12px;
}
.test {
  width: 100%;
  height: 100%;
  background-color: khaki;
}
.app-header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 33;
  display: flex;
  align-items: center;
  color: var(--info-text);
  background-color: var(--bg-color-l);
  padding: 0 1rem 0 0.25rem;
  box-shadow: 0 0 0 2px rgba(16, 22, 26, 0.1);
}
.app-sidenav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 100%;
  max-height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--bg-color-2);
  z-index: 32;
  transition: width 0.4s ease;
}
div.sidenav {
  margin-top: var(--header-height);
  padding: 1rem 1rem;
  width: var(--left-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border-right: 2px solid var(--divider); */
  box-shadow: 2px 0 3px 0 var(--divider);
}
.app-main {
  padding-top: var(--header-height);
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - var(--footer-height));
  min-width: 100%;
}

.app-content {
  flex: 1 0 100%;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: flex-start; */
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content-padded {
  padding: 0 0 0 var(--left-width);
}
.app-header > img {
  height: 100%;
  margin: 0 1rem 0 2rem;
}
.header-title {
  color: var(--color);
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.1;
  margin-left: 2rem;
}
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.app-footer {
  display: grid;
  place-items: center;
  min-height: 3rem;
  background-color: var(--bg-color-2);
  border-top: 1px solid var(--shadow);
}

.app-sidenav.collapsed {
  width: var(--sidebar-width-min);
}
.app-sidenav .accordion {
  animation: growX 0.3s ease;
}

.app-docs {
  grid-area: 2/2/3/3;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.app-docs > p {
  text-align: justify;
}
.app-error {
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
}

.app-error > h2 {
  margin: 2rem 0;
}
.app-brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--left-width);
  color: var(--color);
}
.app-brand:hover {
  filter: drop-shadow(1px 1px 1px rgba(46, 46, 46, 0.3));
}
section.app-page {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100%;
  position: relative;
  /* overflow: auto; */
  min-width: 100%;
  max-width: 100%;
  padding: 0.5rem;
}
.app-page > .fill-in {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 122;
}

/* Sliding panel - used for page and tabs */
.s-panel {
  position: absolute;
  top: -200%;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 0.5rem;
  transform: scale(0.1);
  transition: opacity 0.5s ease-in-out 0ms, top 0.1s ease-in-out 0ms,
    transform 0.4s ease-in-out 0ms;
}
.s-panel.active {
  opacity: 1;
  top: 0;
  pointer-events: all;
  transform: scale(1);
}

.toasts {
  z-index: 112;
  position: absolute;
  top: 0;
  right: 30%;
}
.toast-container {
  margin: 1rem 0;
}
.modal-root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 112;
  display: grid;
  background-color: rgba(128, 128, 128, 0.2);
}

#h_options > div {
  margin-right: 1rem;
}
/* Most important rules */
.dark-theme {
  background-color: #5c7080;
  color: #f5f8fa;
}
.light {
  background: var(--white);
}
