html {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --border-r: 3px;
  --border-r1: 5px;
  /* --primary: #324148; #2a2e31*/
  --primary: #3f4b5f;
  /* rgb(12, 12, 12); */
  --secondary: #5c636a;
  --normal: hsl(0, 0%, 38%);
  --color-help: #898989;
  --bg-color: #f5f5f6;
  --bg-color-l: #fdfdfd;
  --bg-color-d: #919191;
  --brd-color: rgb(62 44 90 / 50%);
  --muted: #939ca3;
  --extra-muted: #a9b3bb;
  --primaryTextThemeDark: #ffffff;
  --secondaryTextThemeDark: #f5f7fa;
  --divider: #e3e4e5;
  --dividerThemeDark: #434a54;
  --dividerAlt: #363b42;
  --iconThemeDark: #ebeced;
  --shadow: #e6e9ed;
  --disabled: rgb(239, 239, 239, 0.1);
  --disabledThemeDark: #646668;
  --bgMain: #fcfcfc;
  --bgGrayThemeDark: #363b42;
  --gray: #4b515d;
  --gray-l: #6f788a;
  --gray-ll: #9198a6;
  --gray-lll: #ebeced;
  --gray-d: #3e4551;
  --gray-dd: #2f4050;
  --white: #ffffff;
  --white50: rgba(255, 255, 255, 0.5);
  --black: #1a1b1c;
  --ctrl-height: 1.875rem;
  --btn-height: 2rem;
  --text-light: #555;
  --text-muted: #777;
  --text-color: #333;
  --warning: #d68910;
  --warning-d: #d68910;
  --warning-l: #fad7a0;
  --danger: #c00;
  --danger-l: rgb(200, 116, 116);
  --danger-d: #b03a2e;
  --success: #04763a;
  --success-l: #99ddb4;
  --success-d: #1e8449;
  --info-text: #5b6266;
  --info: #275a99;
  --info-d: #1b3f6b;
  --info-l: #a9cce3;
  --g-12: hsl(0, 0%, 99%);
  --g-11: hsl(0, 0%, 95%);
  --g-10: hsl(0, 0%, 90%);
  --g-9: hsl(0, 0%, 80%);
  --g-8: hsl(0, 0%, 70%);
  --g-7: hsl(0, 0%, 60%);
  --g-6: hsl(0, 0%, 54%);
  --g-5: hsl(0, 0%, 46%);
  --g-4: hsl(0, 0%, 38%);
  --g-3: hsl(0, 0%, 33%);
  --g-2: hsl(0, 0%, 27%);
  --g-1: hsla(0, 0%, 12%);
  --shadow: rgba(0, 0, 0, 0.1);
  --shadow1: rgba(16, 22, 26, 0.1);
  --dth-bck: #5c7080;
  --dth-clr: #f5f8fa;
  --blue: hsl(220, 50%, 60%);
  --blue-hover: hsl(220, 50%, 60%);
  --blue-active: hsl(220, 50%, 60%);
  --blue--2: #e1efff;
  --blue--1: #d9e6f5;
  --blue-0: #c4dbf5;
  --blue-1: #96c2f3;
  --blue-2: #5a9ce7;
  --blue-3: #2f79ce;
  --blue-4: #2565ae;
  --blue-5: #0f5298;
  --blue-6: #0a3e75;
  --height: 100%;
  --font-size: 14px;
  --chevron: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  --shift-x: 0px;
  --shift-y: 0px;
}
/* :root {
  --color-highlight: hsl(12, 15%, 40%);
}
a {
  color: rgb(from var(--color-highlight) h s calc(l + 5%));
} */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  display: block;
  scroll-behavior: smooth;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 16px;
  min-height: 100vh;
  color: var(--primary);
}
button,
input {
  font-size: var(--font-size);
  font-family: inherit;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, 'Courier New', monospace;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 800;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-right: 1rem;
  color: var(--color);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
  line-height: 2;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.8;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.5;
}
h5 {
  font-size: 1.125em;
  line-height: 1.5;
}
h6 {
  font-size: 1em;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea {
  color: var(--primary);
}
svg {
  color: var(--secondary);
}
.mute {
  color: var(--muted);
}
.uppercase {
  text-transform: uppercase;
}
.xs,
.xs > .icon {
  font-size: 0.8em;
}
.sm {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.95em;
}
.md {
  font-size: 1em;
}
.lg {
  font-size: 1.2em;
}
.xl {
  font-size: 1.4em;
}
.xxl {
  font-size: 1.6em;
}
.xxxl {
  font-size: 1.8em;
}
.xxxxl {
  font-size: 2em;
}
.w-100 {
  width: 100% !important;
}
.small-caps {
  font-variant: small-caps;
}
.full-size {
  height: 100%;
  width: 100%;
}
.container-relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.keep-color {
  color: inherit !important;
}
input:disabled {
  background-color: var(--disabled);
  user-select: none;
}
.disabled {
  pointer-events: none;
  --color: var(--disabled);
  background: var(--disabled);
}
.disabled > span {
  background: var(--disabled);
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.bk-transparent {
  background: transparent !important;
}
.grid {
  display: grid;
  gap: 0.5rem 0;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.flex-item-grow {
  flex: 1 1 100%;
}
.flex-stretch,
.align-stretch {
  align-items: stretch;
}
.align-center {
  align-items: center;
}
.justaposed {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.justaposed > h6,
.justaposed > h5 {
  line-height: 2;
}
.align-center {
  align-self: center;
}
.align-stretch {
  align-self: stretch;
}
.contents {
  display: contents;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
}
.full-height {
  height: 100%;
}
.pull-right {
  margin-left: auto;
}
.pull-left {
  margin-right: auto;
}
.sticky {
  position: sticky;
}
.full-width {
  width: 100%;
}
.zero-width {
  max-width: 0 !important;
  overflow: hidden;
}
.m-1 {
  margin: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.m-4 {
  margin: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.m-0 {
  margin: 0;
}
.m-2 {
  margin: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.m-3 {
  margin: 0.75rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-auto {
  margin-right: auto;
}
.rotate-90 {
  transform: rotate(-90deg);
}
.rotate90 {
  transform: rotate(90deg);
}
ol.ol-dec {
  list-style: inherit;
  list-style-type: decimal;
}
ol.ol-dec > li {
  display: list-item;
  list-style: inherit;
}
.primary {
  --color: var(--primary);
  --border-color: var(--primary);
}
.secondary {
  --color: var(--secondary);
  --border-color: var(--secondary);
}
.danger {
  --color: var(--danger);
  --border-color: var(--danger);
}
.warning {
  --color: var(--warning);
  --border-color: var(--warning);
}
.success {
  --color: var(--success);
  --border-color: var(--success);
}
.info {
  --color: var(--info);
  --border-color: var(--info);
}
.muted {
  --color: var(--muted);
  --border-color: var(--muted);
}
.bg-info {
  --color: var(--white);
  background-color: var(--info) !important;
}
.bg-warning {
  --color: var(--white);
  background-color: var(--warning) !important;
}
.bg-danger {
  --color: var(--white);
  background-color: var(--danger) !important;
}
.bg-success {
  --color: var(--white);
  background-color: var(--success) !important;
}
.bg-muted {
  --color: var(--white);
  background-color: var(--muted) !important;
}
.shifted-x {
  margin-left: var(--shift-x);
}
.shifted-y {
  margin-top: var(--shift-y);
}
.bold {
  font-weight: bold !important;
}
.bolder {
  font-weight: bolder !important;
}
.i {
  font-style: italic;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes conceal {
  0% {
    opacity: 1;
    max-height: 30rem;

    /* transform: scaleY(1);transform: translateY(0); */
  }
  100% {
    opacity: 0;
    max-height: 0;

    /* transform: scaleY(0.1);transform: translateY(1rem); */
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation: slideInDown 400ms ease 100ms;
}
.fade-in {
  animation: reveal 400ms ease 100ms;
}
.fade-out {
  animation: conceal 1000ms ease;
}
.spin {
  animation: spin infinite 25s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes growX {
  from {
    transform: scaleX(0.9);
  }
  to {
    transform: scaleX(1);
  }
}
.visible {
  display: block !important;
  opacity: 1;
}
.hidden {
  display: none !important;
  opacity: 0;
}
.collapsed {
  height: 1px;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}
.show {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.cursor-default {
  cursor: default;
}
.no-events {
  pointer-events: none;
}
.no-border {
  border: none;
  outline: none;
}
.all-events {
  pointer-events: all;
}
.no-select {
  user-select: none;
}
.reveal.on {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform-origin: top;
  animation: reveal 300ms ease;
}
.reveal {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.font-lg {
  font-size: 1.125rem;
}
/* Works on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--white) #aaa;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--g-8);
  border-radius: 100vw;
  border: 1px solid var(--g-7);
  margin-block: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  cursor: default !important;
}

/* App styles */
#root {
  --header-height: 3.5rem;
  --footer-height: 3rem;
  --left-width: 14rem;
  --left-width-collapsed: 4rem;
  --sidebar-width: 26ch;
  --sidebar-width-min: 3.5rem;
  --sidebar-width-c: -32ch;
  --aside-collapse-width: 5.2rem;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: var(--font-size);
  color: var(--primary);
  background-color: var(--bg-color-1);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    'br hd'
    'nav main'
    'nav ft';
  gap: 2px;
}
.app-brand {
  grid-area: br;
  justify-content: flex-start;
  --color: var(--primary);
  box-shadow: 2px 1px 2px 0 var(--shadow1);
}
.app-brand:hover {
  filter: drop-shadow(1px 1px 1px rgba(46, 46, 46, 0.3));
}
.app-brand .title {
  max-width: 20rem;
  z-index: 1;
  transition: max-width 0.3s ease;
}
.app-brand button {
  padding: 0;
  margin: 0 0.5rem;
}
.app-header {
  grid-area: hd;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px 0 var(--shadow1);
}
.app-brand,
.app-header,
.app-footer {
  display: flex;
  align-items: center;
  color: var(--primary);
  background-color: var(--bg-color-l);
}
.app-brand > button.btn,
.app-header > i,
.app-header button.btn {
  --color: var(--primary);
}
.app-nav {
  grid-area: nav;
  padding: 1rem 0 1rem 0.5rem;
  width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  overflow-x: visible;
  background-color: var(--white);
  box-shadow: 2px 0 2px 0 var(--shadow1);
  transition: width 500ms ease-in-out;
}
.app-nav.min {
  transition: max-width 500ms ease-in-out;
  max-width: var(--sidebar-width-min);
}
.app-nav > nav,
.sidebar-menu {
  animation: reveal 700ms ease-in-out;
}
.sidebar-menu {
  --color: var(--primary);
}
.app-main {
  grid-area: nav / nav / main / main;
  padding: 1rem;
}
.app-content {
  grid-area: main;
  padding: 1rem;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--white);
}
.app-footer {
  grid-area: ft / nav / ft / ft;
  justify-content: center;
  border-top: 1px solid var(--shadow);
}

small {
  font-size: 12px;
}
.test {
  width: 100%;
  height: 100%;
  background-color: khaki;
}

.app-docs {
  grid-area: 2/2/3/3;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.app-docs > p {
  text-align: justify;
}
.app-error {
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
}

.app-error > h2 {
  margin: 2rem 0;
}

section.app-page {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100%;
  position: relative;
  /* overflow: auto; */
  min-width: 100%;
  max-width: 100%;
  padding: 0.5rem;
}
.app-page > .fill-in {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 122;
}

/* Sliding panel - used for page and tabs */
.s-panel {
  position: absolute;
  top: -200%;
  width: 100%;
  /* height: 100%; */
  opacity: 0;
  pointer-events: none;
  padding: 0.5rem;
  transform: scale(0.1);
  transition: opacity 0.5s ease-in-out 0ms, top 0.1s ease-in-out 0ms,
    transform 0.4s ease-in-out 0ms;
}
.s-panel.active {
  opacity: 1;
  top: 0;
  pointer-events: all;
  transform: scale(1);
}

#h_options > div {
  margin-right: 1rem;
}
/* Most important rules */
.dark-theme {
  background-color: #5c7080;
  color: #f5f8fa;
}
.light {
  background: var(--white);
}

.modal-root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 112;
  display: grid;
  background-color: rgba(128, 128, 128, 0.2);
}
/* Toasts */
.toast-group {
  position: fixed;
  z-index: 41;
  inset-block-start: 0;
  inset-inline: 0;
  padding-block-end: 5vh;
  display: flex;
  flex-flow: column;
  gap: 1vh;

  /* optimizations */
  pointer-events: none;
}
.toast {
  display: flex;
  font-family: system-ui, sans-serif;
  color: var(--color, black);
  background: hsl(0 0% 90% / 90%);
  margin-left: auto;
  margin-right: auto;
  max-inline-size: min(60ch, 90vw);
  padding-block: 0.5rem;
  padding-inline: 1ch;
  border: 2px solid var(--color);
  border-left: 0.5rem solid var(--brd-color, var(--color));
  border-radius: var(--border-r);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 3px;
  font-size: 1rem;
  min-width: 40ch;
  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease,
    fade-out 0.3s ease 3s;
}
.toast > svg {
  flex: 1 0 auto;
  max-height: 2rem;
  aspect-ratio: 1 / 1;
  margin-right: 1rem;
}
.toast > span {
  flex-grow: 1;
}
.toast-info {
  --color: var(--white);
  --brd-color: var(--info-l);
  background-color: var(--info) !important;
}
.toast-warning {
  --color: var(--white);
  --brd-color: var(--warning-l);
  background-color: var(--warning) !important;
}
.toast-danger {
  --color: var(--white);
  --brd-color: var(--danger-l);
  background-color: var(--danger) !important;
}
.toast-success {
  --color: var(--white);
  --brd-color: var(--success-l);
  background-color: var(--success) !important;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(5vh);
  }
}

@keyframes hiding {
  to {
    height: 0;
  }
}
